<!DOCTYPE html>
<html lang="en">

<head>
<%- include ('../partials/head.ejs') %>
    <title>Edit Veggie</title>
</head>

<body>
    <nav>
        <h1>Welcome to VegReview!</h1>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/veggies">Veggies</a>
            </li>
        </ul>
    </nav>
    <main>
        <h1>Edit <%= veggie.name %>
        </h1>
        <form action="/veggies/<%= veggie._id %>?_method=PUT" method="POST">
            <input type="text" name="name" value="<%= veggie.name %>" />
            <input type="submit" value="Update" />
        </form>
    </main>
</body>

</html>
