<!DOCTYPE html>
<html lang="en">

<head>
<%- include ('../partials/head.ejs') %>
    <title>VegReview🥕 || Veggies</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">VegReview</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="../veggies">Random Veggie</a></li>
            <li><a href="../veggies">List of Veggies</a></li>
            <li><a href="../">Return Home</a></li>
          </ul>
        </div>
      </nav>
    <main>
        <h2>List of Veggies</h2>
        <% if(!veggies.length) { %>
            <p>There are no veggies available. :(</p>
            <% } %>
                <ul>
                    <% veggies.forEach(veggie=> { %>
                        <li>
                            <a href="/veggies/<%= veggie._id %>">
                                <%= veggie.name %>
                            </a>
                        </li>
                        <% }) %>
                </ul>
    </main>
</body>

</html>