<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VegReview🥕 || New Veggie</title>
</head>

<body>
    <nav>
        <h1>Welcome to VegReview!</h1>
        <ul>
            <li>
                <a href="/veggies">Veggies</a>
            </li>
            <li>
                <a href="/veggies/new">Add a Veggie</a>
            </li>
        </ul>
    </nav>
    <main>
        <form action="/veggies" method="POST">
            <input type="text" name="name" placeholder="Veggie name" />
            <input type="submit" value="Create" />
        </form>
    </main>
</body>

</html>