<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
        <title>VegReview:carrot:</title>
</head>

<body>
    <nav>
        <h1>Welcome to VegReview!</h1>
            <ul>
                <li><a class="waves-effect waves-light btn-large" href="/veggies">List of Veggies</a></li>
            </ul>
            <ul class="right">
                <li>
                    <% if (user) { %>
                        <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                    <% } else { %>
                        <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                    <% } %>
                </li>
            </ul>
    </nav>
</body>

</html>