<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
        <title>VegReview:carrot:</title>
</head>

<body>
    <nav>
        <h1>Welcome to VegReview!</h1>
            <ul>
                <li><a class="waves-effect waves-light btn-large" href="/veggies">List of Veggies</a></li>
            </ul>
    </nav>

    <div>    
        <ul class="right">
            <li>
                <% if (user) { %>
                    <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                <% } else { %>
                    <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                <% } %>
            </li>
        </ul>
    </div>

    <div class="textContainer">
        <p>"Down with Greens
        I don’t like peas,
        I don’t like beans,
        I don’t like squash
        Or other greens.
        Instead I’d like
        Some cake and pie,
        A cone with ice cream
        Stacked sky high.
        It seems that when
        You’re hungriest,
        You’d eat the foods
        You like the best.
        So pass the sprinkles,
        If you please,
        And pass the pie,
        But keep your peas.
        
        ~ Barbara Vance"</p>
        
        
        <p><a href="https://www.merriam-webster.com/words-at-play/fruit-vs-vegetable" target="_blank">Vegetable vs. Fruit</a></p>

    </div>


</body>

</html>
