<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
    <title>VegReview🥕</title>
</head>

<body>
    <nav>
        <h1>Welcome to Veg  Review!</h1>
            <ul class="right">
                <li>
                    <li><a href="/veggies">Veggies</a></li>    
                    <% if (user) { %>
                        <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                    <% } else { %>
                        <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                    <% } %>
                </li>
            </ul>
    </nav>
</body>

</html>
