<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
    <title>VegReview🥕</title>
</head>

<body>
    <nav>
        <h1>Welcome to VegReview!</h1>
        <ul>
            <li>
                <a href="/veggies">Veggies</a>
            </li>
        </ul>
    </nav>
</body>

</html>