<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs') %>
        <title>VegReview🥕</title>
</head>

<body>
<div id="welcomePage">
    <h1 id="welcome">Welcome to VegReview!</h1>
    <nav id="welcomeNav">
        <ul>
            <li><a id="firstList" href="/veggies">List of Veggies</a></li>
            <li>
                <% if (user) { %>
                    <a id="logOut" href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
                <% } else { %>
                    <a id="logIn" href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
                <% } %>
            </li>
        </ul>
    </nav>
    <div class="container" id="poem">

    </div>
</div>
</body>
</html>