<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ('../partials/head.ejs') %>
		<title>New Review</title>
	</head>
	<body>
        
        <nav>
				<a href="../reviews">All Reviews</a>
				<a href="../veggies">List of Veggies</a>
				<a href="../">Return Home</a>
          </nav>
		<main>
            <div class="container">
			<form action="/reviews" method="POST">
				<p>
					<input
						class="input-field"
						type="text"
						name="title"
						placeholder=" Review Title"
					/>
				</p>
				<p>
					<textarea type="text" name="body" placeholder="Tell us how you really feel!"></textarea>
				</p>
                <div>
					<select class="browser-default" name="veggie">
						<option value="" disabled selected>Choose your Veggie</option>
						<% veggies.forEach ( veggie => { %>
						<option value="<%= veggie._id %>"><%= veggie.name %></option>
						<% }) %>
					</select>
                </div>
                <br>
                <div>
				    <input type="submit" value="Submit Review" />
                </div>
			</form>
		</main>
        </div>
	</body>
</html>